Host "*"
	# Our boards like to just up and disappear on us for some reason.
	# Try to catch that early when it does happen.
	ConnectTimeout 300
	ServerAliveInterval 300

	# Try to fetch keys from the TPM
	PKCS11Provider /usr/lib/x86_64-linux-gnu/libtpm2_pkcs11.so.1

	# Default identity files in ~/.ssh will also be tried.
